{% extends '../base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="body-sobre">
        <div class="div-sobre">
            <div class="text-sobre">
                <h1 class="h1-sobre">
                    <i class="fa-sharp fa-solid fa-suitcase-medical">&nbsp;</i>QUEM SOMOS
                </h1>
                <h3 class="h3-sobre">
                    Uma startup criada com um único objetivo: salvar vidas com o desejo de ajudar, melhorar e facilitar o sistema 
                    de reconhecimento hospitalar
                </h3>
            </div>
            </div>
            <div class="logo-sobre">
                </div>
            </div>
        </div>
        <div class="div-sobre-2">
            <div class="sobre-2">
                <div class="text-sobre-2">
                    <h1>NOSSA HISTÓRIA&nbsp;<i class="fa-regular fa-clock"></i></h1>
                    <h3>
                        O AlphaVias começou a ser projetado
                        quando seus desenvolvedores ainda na
                        faculdade, em 2022, onde tiveram a ideia
                        para fazer um trabalho, assim tiveram a 
                        ideia de um cadastro, algo que o paciente 
                        conseguisse ser identificado de forma 
                        rápida, prática e simples. 
                    </h3>
                </div>
                <div class="img-sobre">
                    <img src="../../static/image/gente.jpg" alt="gente">
                </div>
            </div>
            <div class="alpha-logo">
                <img src="../../static/image/alpha.logo1.png" alt="">
            </div>
        </div>
        <footer class="rodape">
            <h4>© 2023 Desenvolvido por AlphaVidas</h4>
        </footer>

    </div>
</body>
</html>
{% endblock %}