<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../static/image/alpha.logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro</title>
</head>

<body class="pac">
    <header class="navegacao">
        <div class="logo">
            <img src="../../static/image/alpha.cadastro.png" alt="">
        </div><!--final div logo-->

        <nav>
            <ul class="list">
                <li><a href="home.html">Home</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="cadastro_pac.html">Cadastro</a></li>
            </ul>
        </nav><!--final nav-->
    </header>
    <div class="cadastro1">
        <div class="cadastro2">
            <img src="../../static/image/parabens.png" alt="">
            <div class="cadastro-a">
                <a href="home.html"><button class="retorno">Voltar ao Home</button></a>
            </div>
        </div><!--final div finalizado-->
    </div><!--final div cadastro1-->
</body>
   
<footer class="rodape">
    <h4>Â© 2023 Desenvolvido por AlphaVidas</h4>
</footer>
    

</html>