{% extends '../base.html' %}

{% load static %}

{% block content %}
    <div class="container1">
        <div class="container2">
            <div class="home">
                <img src="{% static 'image/alpha.logo1.png' %}" alt="">
            </div>
            <div class="buscando" >
                <p>BUSCANDO SEMPRE PREVENIR</p>
            </div>
            <div class="alpha">
                <p>Meu Alpha</p>
            </div>
            <div class="texto">
                <p>Nossos pacientes podem acompanhar<br>
                seus registros de saúde e suas permissões de forma rápida<br>
                e segura, além de acessar serviçoes<br>
                prestados pelo AlphaVidas.</p>
            </div>
            <div class="botoes">
                <a href="{% url 'login' %}"><button class="acessar">Acessar</button></a>
                <a href="{% url 'register' %}"><button class="cadastrar">Cadastrar</button></a>
            </div>
        </div>
    </div>
    <img src="{% static 'image/img.jpg' %}" alt="" id="cadastro_pac_img">
{% endblock %}