{% extends '../base.html' %}

{% block content %}
    <div class="container1">
        <a href="home.html"><button class="voltar">Voltar</button></a>
        <div class="container2">
            <div class="home">
                <img src="../../static/image/alpha1.png" alt="">
            </div><!--final div home-->
            <div class="buscando" >
                <p>BUSCANDO SEMPRE PREVENIR</p>
            </div>
            <div class="alpha">s
                <p>Meu Alpha</p>
            </div>
            <div class="texto">
                <p>Nossos pacientes podem acompanhar<br>
                seus registros de saúde e suas permissões de forma rápida<br>
                e segura, além de acessar serviçoes<br>
                prestados pelo AlphaVidas.</p>
            </div>
            <div class="botoes">
                <a href="login.html"><button class="acessar">Acessar</button></a>
                <a href="cadastrar.html"><button class="cadastrar">Cadastrar</button></a>
            </div>
        </div>
    </div>
{% endblock %}

