<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="image/alpha.logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro</title>
</head>
<body>

    
    <div class="container1">
            
        <a href="home.html"><button class="voltar">Voltar</button></a>       
        
        <div class="container2">

            <div class="home">
                <img src="../../static/image/alpha1.png" alt="">
            </div><!--final div home-->
            <div class="buscando" >
                <p>BUSCANDO SEMPRE PREVENIR</p>
            </div><!--final div buscando-->

            <div class="alpha">
                <p>Meu Alpha</p>
            </div><!--final div alpha-->
                
            <div class="texto">
                <p>Nossos pacientes podem acompanhar<br>
                seus registros de saúde e suas permissões de forma rápida<br>
                e segura, além de acessar serviçoes<br>
                prestados pelo AlphaVidas.</p>
            </div> <!--final div texto-->

            <div class="botoes">
                <a href="login.html"><button class="acessar">Acessar</button></a>
                <a href="cadastrar.html"><button class="cadastrar">Cadastrar</button></a>
                
            </div><!--final div botao-->

        </div><!--final div container2-->
    </div><!--final div container1-->
    
    <div class="container3"></div><!--final div container3-->
      <footer class="rodape">
            <h4>© 2023 Desenvolvido por AlphaVidas</h4>
        </footer>
    

</body>
</html>

