{% extends '../base.html' %}


{% block title %}Login{% endblock %}

{% block content %}
    <div class="folder">
    </div>
    <div class="fundo_contato">
        <div class="formulariocontato">
            <h1 class="fale_alpha">Fale com o AlphaVidas</h1>
            <p class="texto_contato">
            Está com dificuldade em acessar?
            <br>Envie a sua mensagem!
            </p>
            <div class="form_contato">
                <form>
                    <input type="text" name="nome" placeholder="Nome*" class="nomecontato" required><br>
                    <input type="email" name="email" placeholder="E-mail*" class="emailcontato" required><br>
                    <input type="text" name="mensagem" placeholder="Mensagem*" class="mensagem" required><br>
                    <div class="form-input-contato">
                        <input type="submit" name="Enviar" class="enviarcontato" value="Enviar mensagem">
                        <input type="reset" class="apagar" value="Apagar tudo">
                    </div>

                </form>

            </div>
        </div>
        <div class="fale-conosco">
        </div>
    </div>
{% endblock %}
{%block footer%}
<div class="container3">
    <footer class="rodape">
            <h4>© 2024 Desenvolvido por AlphaVidas</h4>
    </footer>
</div>
{% endblock %}