{% extends '../base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <div class="login-box">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Login</button>
            </form>
            <div class="message">
                <p>Não tem uma conta? <a href="{% url 'register' %}">Realize o cadastro aqui!</a></p>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
