{% extends '../base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<body class="tela">
    <div class="entra">
        <img src="{% static 'image/usuario1.png' %}" alt="">
        <div class="acesso">
            <h1>Faça seu login</h1>
            <div class="login">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                        <input type="checkbox" id="lembrar" name="lembrar" class="lembrar">
                        <label for="lembrar">Lembre-me</label>
                        <label for="esqueceu" class="esqueceu">Esqueceu a senha?</label>
                    </div>
                    <button type="submit" class="entrar">Entrar</button>
                    <a href="cadastro_pac.html"><button class="cancelar">Cancelar</button></a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}