<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../static/image/alpha.logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sobre</title>
</head>
<body>
</head>
<body>
    <header class="navegacao">
        <nav>
            <ul class="list">
                <li><img src="../../static/image/alpha.cadastro.png" alt=""></li>
                <li><a href="home.html">Home</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="contato.html">Contato</a></li>
                <li><a href="cadastro_pac.html">Cadastro</a></li>
            </ul>
        </nav><!--final nav-->
    </header>
    <div class="body-sobre">
        <div class="div-sobre">
            <div class="text-sobre">
                <h1 class="h1-sobre">
                    <i class="fa-sharp fa-solid fa-suitcase-medical">&nbsp;</i>QUEM SOMOS
                </h1>
                <h3 class="h3-sobre">
                    Uma startup criada com um único objetivo: salvar vidas com o desejo de ajudar, melhorar e facilitar o sistema 
                    de reconhecimento hospitalar
                </h3>
            </div>
            </div>
            <div class="logo-sobre">
                </div>
            </div>
        </div>
        <div class="div-sobre-2">
            <div class="sobre-2">
                <div class="text-sobre-2">
                    <h1>NOSSA HISTÓRIA&nbsp;<i class="fa-regular fa-clock"></i></h1>
                    <h3>
                        O AlphaVias começou a ser projetado
                        quando seus desenvolvedores ainda na
                        faculdade, em 2022, onde tiveram a ideia
                        para fazer um trabalho, assim tiveram a 
                        ideia de um cadastro, algo que o paciente 
                        conseguisse ser identificado de forma 
                        rápida, prática e simples. 
                    </h3>
                </div>
                <div class="img-sobre">
                    <img src="../../static/image/gente.jpg" alt="gente">
                </div>
            </div>
            <div class="alpha-logo">
                <img src="../../static/image/alpha.logo1.png" alt="">
            </div>
        </div>
        <footer class="rodape">
            <h4>© 2023 Desenvolvido por AlphaVidas</h4>
        </footer>

    </div>
</body>
</html>