{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="navegacao" id="header">
        <img class="img_header" src="../../static/image/alpha.cadastro.png" alt="">
        <nav>
            <ul class="list">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">Sobre</a></li>
                <li><a href="{% url 'contact' %}">Contato</a></li>
                <li><a href="{% url 'register' %}">Cadastro</a></li>
            </ul>
        </nav>
    </header>
    {% block content %}{% endblock %}
    <div class="container3">
        <footer class="rodape">
                <h4>© 2023 Desenvolvido por AlphaVidas</h4>
        </footer>
    </div>
</body>
</html>